body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Reddit Mono", monospace;
}

body {
  background-color: #111111;
}

@font-face {
  font-family: "Reddit Mono", monospace;
  src: url('/public/static/RedditMono-Regular.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.project-container {
  transition: transform 0.2s; /* Transición suave */
}

.project-container:hover {
  transform: scale(1.03); /* Aumenta la escala en hover */
}

.contenedor-grid {
  width: 70%; /* Tamaño inicial */
}


@media screen and (max-width: 1023px) {
  .contenedor-grid {
      width: 92%; /* Porcentaje ajustado para pantallas más pequeñas */
  }
}

.contenedor-model {
  width: 50%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1371px) {
  .contenedor-model {
      width: 67%;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (max-width: 1023px) {
  .contenedor-model {
      width: 80%;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .contenedor-model {
      width: 68%;
      display: flex;
      flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contenedor-model {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
}

.foto-model {
  width: 50%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .foto-model {
      width: 50%;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .foto-model {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
}

.blur-background {
    backdrop-filter: blur(5px); /* Ajusta el valor del desenfoque según sea necesario */
}

.gmail-overlay-panel {
  position: absolute!important;
  left: 57.5%!important;
}

.my-classname {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 20px;
}

.index-navbar {
  z-index: 99999;
}
